{% extends "shop/defaultBase.html" %}

{% block content_header %}
<div class="shop-index-header-div">
    <div class="shop-index-right-header-div">
        <p class="shop-index-main-title FONT-alexandria-heaviest">با ما خرید بهتری را تجربه کنید.</p>
        <p class="shop-index-main-subtitle FONT-alexandria-semiheavy">ارائه دهنده بهترین خدمات خرید و فروش در سراسر ایران و جهان</p>
    </div>
    <div class="shop-index-header-images-div">
        <img class="shop-index-img-mart" src="../../../static/images/img-main-happy1.png" width="300px" height="300px">
    </div>
</div>

{% endblock %}
